body {
  background-color: #212529;
}

h3 {
  color: #f8f9fa;
  font-family: "Noto Sans Korean", sans-serif;
  font-size: 1.5rem;
  left: 0;
  line-height: 200px;
  margin-top: -100px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

h3:hover {
  font-size: 1.6rem;
}
